.PageCaseList,
.PageUserList {
  .Page-title {
    margin-bottom: 1rem;
  }

  .table-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .btn-create-case,
    .btn-create-user {
      padding-left: 2rem !important;
      padding-right: 2rem !important;
    }

    .ant-input-affix-wrapper {
      width: 18rem;
      .ant-input-prefix {
        margin-top: 1px;
      }
    }

    .ant-dropdown-trigger {
      margin-left: 5px;
    }

    .date-picker-filter-cases input {
      width: 288px;
      height: 32px;
    }
  }
}
